/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/* list of alternatives in case first font doesn't load 
* good practice to have a generic family font
*/
body {
	font-family: Helvetica, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto; /* margin of 0 on top and bottom, auto on left and right */
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex parent */
.row {
	display: flex;
    /*specifies direction + wrapping behavior*/
	flex-flow: row wrap;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #A3CDD9;
}

.col-2 {
	background-color: #FFFCE6;
}

.col-3-1 {
	background-color: #A3CDD9;
}

.col-3-2 {
	background-color: goldenrod;
}

.col-4 {
	background-color: peru;
}

.col-5-1 {
	background-color: #A3CDD9;
}

.col-5-2 {
	background-color: beige;
}

.col-5-3 {
	background-color: #A3CDD9;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	
  .col-1,
  .col-2 {
		flex: 0 0 44%;
	}

	.col-3-1,
	.col-3-2 {
		flex: 0 0 92%;
	}

	.col-5-1,
	.col-5-3 {
		flex: 0 0 44%;
	}


}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
  
 	.col-1 {
		flex: 0 0 20%;
	}
  
	.col-2 {
		flex: 0 0 44%;
	}

	.col-3-1 {
		flex: 0 0 20%;
	}

	.col-3-2 {
		flex: 0 0 68%;
	}

	.col-4 {
		flex: 0 0 92%;
	}

	.col-5-1 {
		flex: 0 0 20%;
	}

	.col-5-2 {
		flex: 0 0 44%;
	}

	.col-5-3 {
		flex: 0 0 20%;
	}


}
